 .header-container {
      display: flex;
      align-items: center;
      padding: 20px 70px 30px 30px;
  }
  
  .header__start-block {
      display: flex;
      gap: 28px;
  }
  
  .burger-menu {
      display: inline-block;
      cursor: pointer;
    }
  
  .burger-menu__bar {
      width: 20px;
      height: 3px;
      background-color: #333;
      margin: 4px 0;
      transition: 0.4s;
      cursor: pointer;
  }
  
  .header__center-block {
      padding-left: 59px;
      flex: 0 1 889px;
  }
  
  .search-form {
      position: relative;
  }
  
  .search-form__input {
      width: 100%;
      height: 44px;
      padding: 12px 23px;
      background-color: rgba(235,235,235, 0.3);
      border-radius: 20px;
      font-size: 1rem;
      font-family: "Mulish";
      color:rgba(48, 56, 76, 0.4);
      min-width: 110px;
  }
  
  .search-form__icon {
      position: absolute;
      top: 13px;
      right: 17px;
  }
  
  .header__end-block {
      display: flex;
      flex: 0 1 765px;
      justify-content: flex-end;
  }
  .header__navigation {
    display: flex;
  }
  .nav-list {
      display: flex;
      align-items: center;
      gap: 50px;
  }
  .nav-link {
    cursor: pointer;
    transition: 0.3s;
  }
  
  .header__profile-icon-mobile {
    display: none;
    }
  
  @media (max-width: 576px) { 
    .header-container {
      max-width: 320px;
      padding: 12px 16px 20px 16px;
  }
    .burger-menu {
      display: none;
    }
    .search-form__input {
      display: none;
    }
    .search-form__icon {
      top: -10px;
      right: 25px;
  }
    .header__center-block {
      padding-left: 130px;
    }
  
    .header__end-block {
      padding-left: 12px;
    }
    .nav-list {
      display: none;
    }
    .header__profile-icon {
     display: none;
    }
    .header__profile-icon-mobile {
        display: block;
    }
   }
  
  
  .icon-notification-link {
      position: relative;
  }
  
  .icon-notification {
      position: absolute;
      top: -4px;
      left: 11px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      padding-top: 3px;
      text-align:center;
      font-weight: 700;
      font-size: 0.75rem;
      background-color: #FF0000;
      color: #fff;
  }
  